/* src/styles/register.css */
.register-page {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  }
  
  .register-page h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .register-page form {
    display: flex;
    flex-direction: column;
  }
  
  .register-page div {
    margin-bottom: 15px;
  }
  
  .register-page label {
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .register-page input {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
  }
  
  .register-page button {
    padding: 10px;
    background-color: #4b2a69;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .register-page button:hover {
    background-color: #7f52c5;
  }
  